<div class="space-y-4 mb-3">
    <div class="flex items-start justify-between">
        <div>
            <h1 class="text-xl text-text mb-1">
                Facultative Reinsurance</h1>
            <p class="text-sm text-text-muted">
                Manage individual risk placements and submissions</p>
        </div>
        <div>
            <button type="button" (click)="addNew()"
                class="inline-flex items-center gap-1 py-2 px-4 bg-primary text-white text-sm font-medium rounded-lg hover:bg-primary-dark transition-colors capitalize">
                <span class="material-icons text-[14px]">add</span>
                <span>Submit New</span>
            </button>
        </div>
    </div>

    <div>
        <app-colored-cards-grid [dataList]="metrics"></app-colored-cards-grid>
    </div>
    <div class="bg-surface rounded-lg  border border-border ">
        <div class="flex items-start justify-between m-3">
            <div>
                <h2 class="text-l text-text mb-1">
                    Submissions
                </h2>
            </div>
            <div>
                <app-input-field placeholder="search" (valueChange)="updateSearchValue($event)"></app-input-field>
            </div>
        </div>
        <div class="overflow-hidden shadow-sm">
            <table class="w-full border-collapse bg-surface text-left text-sm text-secondary-dark">
                <thead class="bg-background font-medium  text-text ">
                    <tr>
                        <th scope="col" class="px-6 py-4 text-xs">Ref No.</th>
                        <th scope="col" class="px-6 py-4 text-xs">Account</th>
                        <th scope="col" class="px-6 py-4 text-xs">Cedant</th>
                        <th scope="col" class="px-6 py-4 text-xs">LOB</th>
                        <th scope="col" class="px-6 py-4 text-xs">Inception</th>
                        <th scope="col" class="px-6 py-4 text-xs">SI/LOL</th>
                        <th scope="col" class="px-6 py-4 text-xs">Status</th>
                        <th scope="col" class="px-6 py-4 text-right">Actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    @for (item of history; track item.refNo) {
                    <tr class="hover:bg-gray-50 transition-colors">
                        <td class="px-6 py-4 font-medium  text-text ">{{ item.refNo }}</td>
                        <td class="px-6 py-4">{{ item.account }}</td>
                        <td class="px-6 py-4">{{ item.cedant }}</td>
                        <td class="px-6 py-4">{{ item.lob }}</td>
                        <td class="px-6 py-4">{{ item.inception }}</td>
                        <td class="px-6 py-4 font-semibold  text-text ">{{ item.siLol }}</td>
                        <td class="px-6 py-4">
                            <span [ngClass]="item.statusClasses"
                                class="inline-flex items-center gap-1 rounded-full px-2 py-1 text-xs font-semibold border">
                                {{ item.status }}
                            </span>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex justify-end gap-3">
                                
                                <button title="edit" class="text-gray-400 " (click)="updateSubmission(item.refNo)">
                                    <span class="material-icons text-[18px] text-text-secondary">edit</span>
                                </button>
                                <button title="update" class="text-gray-400 " (click)="renewSubmission(item.refNo)">
                                    <span class="material-icons text-[18px] text-success">sync</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
        <app-paginator listName="Submission" [totalItems]="totalItems"
            (pageChange)="getSubmissionHistory($event)"></app-paginator>
    </div>
</div>