<div class="space-y-4 mb-3">
    <div class="flex items-start justify-between">
        <div>
            <h1 class="text-xl text-gray-900 mb-1">Dashboard Overview</h1>
            <p class="text-sm text-gray-600">Welcome back! Here's what's happening across your modules.</p>
        </div>
    </div>
</div>
<app-filter (filterChange)="onFilterChanges($event)" ></app-filter>
<app-mertic [filters]="filters"></app-mertic>
<app-charts [filters]="filters"></app-charts>
<app-activities [filters]="filters"></app-activities>