<div class="space-y-4">


  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-3">
    <div class="bg-white rounded-lg border border-gray-200 p-4 ">
      <h2 class="text-base text-gray-900 mb-3">Security Details</h2>
      <div>
        <app-input-field-text-area formControlName="reinsuranceLiabilityClause"
          [errorMessage]="getErrorMessage('reinsuranceLiabilityClause',' Reinsurance Liability Clause')"
          placeholder="Enter reinsurance liability clause details..."
          [label]="'Reinsurance Liability Clause (LMA 3333)'">
        </app-input-field-text-area>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <app-input-field label="Order Hereon" placeholder="Enter order hereon" formControlName="orderHereon">
        </app-input-field>

        <app-input-field label="Basis of Written" placeholder="Enter basis of written" formControlName="basisOfWritten">
        </app-input-field>
        <app-input-field label="Basis Of Signed Line" placeholder="Enter basis of signed line"
          formControlName="basisOfSignedLine">
        </app-input-field>

        <app-input-field label="Written Lines" placeholder="Enter written lines" formControlName="writtenLines">
        </app-input-field>
      </div>

      <div class="mt-3">
        <app-input-field-text-area formControlName="signingProvisions" placeholder="Enter signing provisions..."
          label="Signing Provisions">
        </app-input-field-text-area>

      </div>
    </div>

    <div class="flex items-center justify-end gap-2 pb-4">
      <button type="button"
        class="px-4 py-2 text-sm border border-border rounded-lg text-text hover:bg-background transition-colors"
        (click)="onCancel()">
        Cancel
      </button>
      <button type="button" (click)="onSaveAsDraft()"
        class="px-4 py-2 text-sm border border-primary text-primary rounded-lg hover:bg-primary/10 transition-colors">
        Save as Draft
      </button>
      <button type="button"
        class="px-4 py-2 text-sm bg-primary text-white rounded-lg hover:bg-primary-dark transition-colors"
        (click)="onSubmit()">
        Save
      </button>
    </div>
  </form>

</div>